.App {
  text-align: center;
}

*{
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%)
}

.mainHead{
  text-shadow: 5px 4px 4px #2d88d0;
}
.text{
  text-shadow: 3px 3px 4px #2031af;
}
.flexBox1{
  width: 99%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  /* left: 15vw; */
  top: 10%;
  text-align: center;
}
.flexBox2{
  width: 99%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  /* left: 15vw; */
  top: 25%;
  text-align: center;
}

.button1{
  background-color: #9FA8DA;;
  padding: 20px;
  border-radius: 30px;
  /* position: absolute; */
  left: 27%;
  top: 8rem;
}

.button2{
  background-color: aqua;
  padding: 20px;
  border-radius: 30px;
  /* position: absolute; */
    top: 8rem;
    right: 27%;
}

.container1{
  width: 500px;
  background-color: blueviolet;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 15rem;
  left: 15%; */
}

.container2{
  width: 500px;
  background-color: #00BCD4;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 15rem;
  right:15% */
}

.para1{
  padding: 1rem;
}